.sidebar {
  background: #171c2b;
  color: #3e475e;
}
img.sidebar__logo__character {
   width: 60px !important;
   content: url("https://press.seedtag.com/hs-fs/hubfs/Seedtag_Wordmark_Positive_RGB.png") !important;
}
